# Configuración de Flask
FLASK_APP=wsgi.py
FLASK_DEBUG=1
SECRET_KEY=1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
JWT_SECRET=change-me-in-production

# Conexión a PostgreSQL (Cambia los valores por los de tu máquina local)
# postgresql://<usuario>:<contraseña>@<host>:<puerto>/<nombre_base_datos>
DATABASE_URL=postgresql://postgres:contraseña@localhost:1234/restaurant_pos